################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Part 1/v17/DocumentLayout.json
/.vs/Part 1/v17/DocumentLayout.backup.json
/.vs/Part 1/v17/.wsuo
/.vs/Part 1/FileContentIndex/8fd7fd00-2991-4a4c-a2c1-d65c035ae9b8.vsidx
/.vs/Part 1/FileContentIndex/903078a7-70a2-43b2-ba2b-b300654ab432.vsidx
/.vs/Part 1/FileContentIndex/c4c22ce5-155b-4d57-b81c-5dcfca88dbeb.vsidx
/.vs/slnx.sqlite-journal
/.vs/Part 1/FileContentIndex/8f9bad0a-5f5a-4bce-87af-369466c3d2e2.vsidx
/.vs/Part 1/FileContentIndex/fb106338-1684-49f6-beb2-1758392e41f2.vsidx
/.vs/Part 1/FileContentIndex/8e971308-777b-47b7-b967-e528d1498bcf.vsidx
/.vs/Part 1/FileContentIndex
